@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root {
  --moderateCyan: #3cb4ac; /* button */
  --darkCyan: #147b74; /* hover */
  --black: #000;
  --darkGrey: #7a7a7a;
  --outlineGrey: #eeeeee;
  --lightGrey: #f7f7f7;

  /* font sizes */
  --medium: 1.5rem;
  --large: 2.25rem;
}

body {
  font-family: 'Commissioner', sans-serif;
  margin: 0;
  padding: 0;
  background: var(--lightGrey);
}

#hero {
  color: white;
  background: url('../images/image-hero-mobile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 55vh;
  width: 100vw;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: -4rem auto 0 auto;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 1rem;
  margin: 0 1rem;
}

#nav h1 {
  margin: 0;
}

.mobile-nav {
  display: block;
}

.desktop-nav {
  display: none;
}

.product,
.backers {
  text-align: center;
}

.product,
.backers,
.about {
  background: white;
  max-width: 600px;
  width: 75%;
  padding: 2rem 1.5rem 3rem;
  margin: 0 0 2rem;
  border: 1px solid var(--outlineGrey);
  border-radius: 0.6rem;
}

.about p {
  color: var(--darkGrey);
}

.product-logo {
  margin: -4rem 0 2rem;
}

.product h2 {
  margin: 0 0 0 0;
  padding: 0;
}

.product p {
  margin: 0 0 2rem;
  padding: 1rem;
  color: var(--darkGrey);
}

.product-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-buttons__back {
  background: var(--moderateCyan);
  color: white;
  margin-right: 0.5rem;
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 2rem;
}

.product-buttons__label {
  display: none;
}

/* Backers data & progress bar */
.backers__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.backers__num,
.backers__note {
  margin-bottom: 1rem;
}

.backers__num {
  font-size: var(--large);
  font-weight: 700;
}

.backers__note {
  color: var(--darkGrey);
  padding-bottom: 1rem;
}

.backers__data:nth-child(-n + 2) {
  margin: 0 auto 2rem auto;
  border-bottom: 1px solid var(--outlineGrey);
  width: 100px;
}

/* Progress bar */
progress {
  background-color: var(--lightGrey);
  height: 1rem;
  width: 100%;
  border-radius: 50px;
}
progress::-webkit-progress-bar {
  background-color: var(--lightGrey);
  height: 1rem;
  width: 100%;
  border-radius: 50px;
}
progress::-webkit-progress-value {
  background-color: var(--moderateCyan);
  height: 1rem;
  width: 100%;
  border-radius: 50px;
}
progress::-moz-progress-bar {
  background-color: var(--lightGrey);
  height: 1rem;
  width: 100%;
  border-radius: 50px;
}
progress::-moz-progress-value {
  background-color: var(--moderateCyan);
  height: 1rem;
  width: 100%;
  border-radius: 50px;
}

/* Tablet screens */
@media (min-width: 768px) {
  #hero {
    background: url('../images/image-hero-desktop.jpg');
    background-size: cover;
    background-position: center;
  }

  #nav {
    margin: 0 4rem;
  }

  .product,
  .backers,
  .about {
    width: 100%;
  }

  .backers__container {
    display: flex;
    justify-content: flex-start;
    height: 150px;
    margin-bottom: 1rem;
  }

  .backers__data:nth-child(-n + 2) {
    margin: 2rem 1.5rem;
    padding-right: 5rem;
    border-bottom: none;
    border-right: 1px solid var(--outlineGrey);
  }

  .backers__data:last-child {
    margin: 2rem 1.5rem;
  }

  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: block;
  }

  .desktop-nav ul {
    display: flex;
    list-style: none;
  }

  .desktop-nav li {
    margin: 0 1rem;
  }

  .desktop-nav a {
    color: white;
    text-decoration: none;
  }

  .product-buttons {
    justify-content: space-between;
  }

  .product-buttons__bookmark {
    color: var(--darkGrey);
    background: var(--outlineGrey);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1.5rem;
    width: 122.5px;
    height: 56px;
    border-radius: 2rem;
  }

  .product-buttons__icon {
    position: absolute;
    left: 0;
  }

  .product-buttons__label {
    display: block;
  }
}
